Unit Rate Search.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Unit Rate Search (Test)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/voyage:0.0.5@bbd9d836cc853f699fd9e9d7d3bd85816511a674cfeeaee8055630abed6b86aa
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1765884152277-source-1765889707022-target
      source: '1765884152277'
      sourceHandle: source
      target: '1765889707022'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1765889707022-source-llm-target
      source: '1765889707022'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-answer-target
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: File_input
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: file
          variable: File_input
      height: 109
      id: '1765884152277'
      position:
        x: 26.039787316844524
        y: 296.2176626031135
      positionAbsolute:
        x: 26.039787316844524
        y: 296.2176626031135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1765889707022'
          - result
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.1-flash-lite-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: f5518747-571b-43c1-9761-0784b19661e5
          role: system
          text: "You are a pricing-matching assistant in a chatflow.\n\nYour job is\
            \ to:\n1. Read the user query.\n2. Read the pricing database.\n3. Identify\
            \ one or more items described in the user query.\n4. Match each described\
            \ item to the most relevant item in the pricing database.\n5. Return the\
            \ item number and unit rate for each matched item.\n\nImportant rules:\n\
            - Match items by meaning, synonyms, abbreviations, and context, not only\
            \ exact wording.\n- If the user query mentions a pricing method, return\
            \ the unit rate for that specific pricing method only.\n- If the matched\
            \ item has multiple pricing methods and the user does not specify one,\
            \ return all available unit rates.\n- If the item cannot be confidently\
            \ matched, say so clearly.\n- Do not invent or guess prices.\n- Use only\
            \ the pricing database provided.\n- If the user query contains multiple\
            \ items, handle each item separately.\n- Keep the response concise, clear,\
            \ and user-friendly.\n- Do not use JSON.\n- Do not use markdown tables.\n\
            - Use plain text in point form.\n\nRecommended output format:\n- Item:\
            \ [user item description]\n  - Matched item: [matched database item name]\n\
            \  - Item number: [item number]\n  - Pricing method: [method, if applicable]\n\
            \  - Unit rate: [rate]\n  \nIf there are multiple pricing methods and\
            \ no method is specified:\n- Item: [user item description]\n  - Matched\
            \ item: [matched database item name]\n  - Item number: [item number]\n\
            \  - Available unit rates:\n    - [pricing method]: [unit rate]\n    -\
            \ [pricing method]: [unit rate]\n\nIf no confident match is found:\n-\
            \ Item: [user item description]\n  - Match status: Not matched\n  - Note:\
            \ [brief reason]"
        - id: 3a9ece2d-031e-4ad1-933c-a06c25c97ef2
          role: user
          text: 'User query:

            {{#sys.query#}}


            Pricing database:

            {{#context#}}


            Please match the item(s) in the user query to the pricing database and
            return the item number(s) and unit rate(s).


            Instructions:

            - If a pricing method is mentioned, return only that unit rate.

            - If multiple pricing methods exist and no method is mentioned, return
            all unit rates.

            - Answer in plain text, point form, and keep it easy for a user to read.'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 745.2441485434549
        y: 317.2176626031135
      positionAbsolute:
        x: 745.2441485434549
        y: 317.2176626031135
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1113.8704552818724
        y: 317.2176626031135
      positionAbsolute:
        x: 1113.8704552818724
        y: 317.2176626031135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - NuHGaoxPw8DJ6mH9DpBvs3Qf9MEnEvRbnyum808visKb53jcLuW7qjZtz71RVPaw
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-2
            provider: langgenius/voyage/voyage
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1765889707022'
      position:
        x: 399.33720549055096
        y: 317.2176626031135
      positionAbsolute:
        x: 399.33720549055096
        y: 317.2176626031135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -206.12015978530144
      y: 148.93665608885584
      zoom: 0.500554659107306
  rag_pipeline_variables: []
